Access Matrix Alignment (All 4 databases - DA on complete population)
1a. Test if majority of users are PIDs
1b. Check if all defined PIDs are actually necessary (identify different PIDs with same privileges, accounts in regular use vs locked/unused for extended periods, etc.)
Privileged Credential Vaulting Coverage Validation - Gap analysis to identify any privileged credentials not stored in the vault
Verify that all groups who can request database access are legitimate, authorized, and appropriate based on their roles (ServiceNow - approver details analysis)
